APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000
VITE_APP_URL="${APP_URL}"

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=sqlite
# If using sqlite, Laravel will look for database/database.sqlite

SESSION_DRIVER=file
QUEUE_CONNECTION=sync

CACHE_STORE=file


ZOHO_ORG_ID=
ZOHO_CLIENT_ID=
ZOHO_CLIENT_SECRET=
ZOHO_AUTH_CODE=
ZOHO_REFRESH_TOKEN=